[submodule "fintech_task"]
	path = fintech_task
	url = git@github.com:dpronin/fintech_task.git
[submodule "memcpy"]
	path = memcpy
	url = git@github.com:dpronin/memcpy.git
[submodule "mash"]
	path = mash
	url = git@github.com:dpronin/mash.git
[submodule "regexp"]
	path = regexp
	url = git@github.com:dpronin/regexp.git
