[submodule "memcpy"]
	path = memcpy
	url = git@github.com:dpronin/memcpy.git
[submodule "mash"]
	path = mash
	url = git@github.com:dpronin/mash.git
[submodule "regexp"]
	path = regexp
	url = git@github.com:dpronin/regexp.git
[submodule "gparser"]
	path = gparser
	url = git@github.com:dpronin/gparser.git
[submodule "beautiful-number"]
	path = beautiful-number
	url = git@github.com:dpronin/beautiful-number.git
